<!DOCTYPE>

<html>
<head><title>FoodBank App</title>
<link rel="stylesheet" href="../foundation/css/foundation.css" />
<link rel="stylesheet" href="../styles/style.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
  <div id="overlay">
<header>

  <div id="logo" />
  <img style="height: 71px;" src="../img/logo.png" />
</div>
<div class="menu">
  <ul class="menu">
    <li><a href="./foodbankmain.html">Food Bank</a></li>
    <li><a href="./volunteer_homepage.html">Map</a></li>
    <li><a href="./volunteer_signup.html">Account</a></li>
</ul>
</div>

</header>


<section>




  <div id="donor_inner">

    <div class="row">
    <!-- <div class="small-5 small-centered columns">  <div class="donor_background panel"></div></div> -->
  <div class="innerbg small-5 small-centered columns">    </div>
      <div class="small-5 small-centered columns"><div id="donor_name">
        <h1>Location: </h1>
        <input type="text" onKeyPress="updateSuggestion()"id="location_input"></input>
        </div></div>
        <select id="restaurantDropdown">
        </select>
        <div class="small-5 small-centered columns"><div id="amount"><h3>
        Units: <select style="width: 40px">
          <option>1</option><option>2</option><option>3</option>4</option>
          <<option>5</option><<option>6</option><<option>7</option>
        </select>
      </h3></div>

          <div class="medium-7 small-centered columns"><div id="perishable"><h3>
            Perishable: <select id=isPerishabel>
              <option>YES</option>
              <option>NO</option>
              </option>
            </select></h3>
          </div></div>

          <div class="medium-7 small-centered columns"><div id="pickup_btn">
            <button type="button" onclick="GetLocation()"class=" button">Post Pickup</button>
          </div>
          </div></div>
        </div>
  </div>

  </div>

</div>

</section>

</body>
<script type="text/javascript" src="../foundation/js/restuarant.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<html>
