<!DOCTYPE>
<html>
<head>
	<title>Food Bank</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<style>
		/* Always set the map height explicitly to define the size of the div
			 * element that contains the map. */

		#map {
			height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */

		html,
		body {
			height: 75%;
			margin: 0;
			padding: 0;
		}
	</style>

	<link rel="stylesheet" href="../foundation/css/foundation.css" />
	<link rel="stylesheet" href="../styles/style.css" />
</head>

<body id="volunteer_homepage_body">
	<div id="volunteer_homepage_overlay">
		<header class="volunteer_homepage_header">
			<div id="logo" />
			<img style="height: 71px;" src="../img/logo.png" />
	</div>
	<div class="menu">
		<ul class="menu">
			<li><a href="./foodbankmain.html">Food Bank</a></li>
			<li><a href="./volunteer_homepage.html">Map</a></li>
			<li><a href="./volunteer_signup.html">Account</a></li>
		</ul>
	</div>
	</header>


		<div id="Page">

			<h1 class="header_center">UPCOMING EVENTS</h1>
<div class="foodbankmain_row row">
	<table>
	  <thead>
	    <tr>
	      <th width="250"><span class="card">
					<a href="http://fbd.volunteerhub.com/Events/Event/Summary.aspx?EventID=4577586">
						<h3>Newark Kitchen Volunteer (morning)</h3>
					</a>
				</span>
					<i>Monday, June 5, 6:30am - 9:30am</i>
					<p>Volunteers will help make and pack meals for our Children’s Afterschool Feeding Program.  No culinary experience required; training is provided.</p></th>

	      <th width="150"><span class="card">
					<a href="http://fbd.volunteerhub.com/Events/Event/Summary.aspx?EventID=4441155">
		 			 <h3>Milford Afternoon Volunteer Room Strike Out Hunger</h3>
		 		 </a>
		 	 </span>
		               <i>Monday, June 5, 1 pm - 4 pm</i>
		               <p>If you are a parent who would like to bring their child, please email VolunteerInMilford@FBD.org to add them to your event sign up.</p>
		         <th width="150"><span class="card">
							 <a href="http://fbd.volunteerhub.com/Events/Event/Summary.aspx?EventID=4441155">
		 						<h3>Milford Afternoon Volunteer Room Strike Out Hunger</h3>
		 					</a>
		 				</span>
		 										<i>Monday, June 5, 1 pm - 4 pm</i>
		 										<p>If you are a parent who would like to bring their child, please email VolunteerInMilford@FBD.org to add them to your event sign up.</p>
		 							 </tr>
	  </thead>
	</table>
  </div>






</div>
</body>
</html>
