<!DOCTYPE>
<html>
{{!--<head><title>{{ title }}</title>
<link rel="stylesheet" href="foundation/css/foundation.css" />
<link rel="stylesheet" href="../styles/style.css" />

</head>
<body>
<header><div id="logo"><img src=""</div>
 <ul><li>Food Bank Alerts</li><li>Settings</li><li>Map</li></ul></header>
<section>
<div id="inner">
 <div id="map"></div>
 <div id="radius"></div>
</div>



</section>

</body>--}}


<html>