<!DOCTYPE>
<html>

<head>
  <title>Food Bank</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */

    html,
    body {
      height: 75%;
      margin: 0;
      padding: 0;
    }
  </style>

  <link rel="stylesheet" href="../foundation/css/foundation.css" />
  <link rel="stylesheet" href="../styles/style.css" />
</head>

<body id="volunteer_homepage_body">
  <div id="volunteer_homepage_overlay">
    <header class="volunteer_homepage_header">

      <div id="logo" />
      <img style="height: 71px;" src="../img/logo.png" />
  </div>
  <div class="menu">
    <ul class="menu">
      <li><a href="#">Food Bank</a></li>
      <li><a href="#">Map</a></li>
      <li><a href="#">Account</a></li>
    </ul>
  </div>

  </header>

<div class="volunteer_homepage_title">
  <h1>Donation Map</h1>
  <p> These are the locations that need volunteers for pickup. Click a pin to see the status of the donation.
</p>
</div>



  <div style="float:none;" id="map"></div>

  <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: -34.397,
          lng: 150.644
        },
        zoom: 14
      });
      infoWindow = new google.maps.InfoWindow;

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('You are here!');
          infoWindow.open(map);
          map.setCenter(pos);
          var pos2 = {
            lat: position.coords.latitude + .005,
            lng: position.coords.longitude + .002
          };

          var pos3 = {
            lat: position.coords.latitude + .008,
            lng: position.coords.longitude + .01
          };

          var marker = new google.maps.Marker({
            position: pos2,
            map: map,
            title: 'Hello World!'
          });
          var marker = new google.maps.Marker({
            position: pos3,
            map: map,
            title: 'Hello World!'
          });
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfzMencPryiSpJtr0HajbKcgCd88yO3vc&callback=initMap">
  </script>




  <div>



  </div>

  </div>
</body>
<html>
