body {
font-family: 'Open Sans', sans-serif;
}

#logo {
  float: left;
  padding-left: 34px;
}

.menu {
  float: right;
  padding-top: 17px;
  padding-right: 9px;
  padding-bottom: 39px;
}

.menu>li>a {

  border-radius: 3px;
  color: white;
}

.menu li a:active{
background-color: #d5a10f;
}

.menu li a:hover{
background-color: #d5a10f;
}


header {
  min-height: 13%;
   background-color: #006a54;
  opacity: .8;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.menu>li {
  padding-left: 34px;
}

img {}

.menu span {}

.row {
  padding-top: 1%;
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 7px;
  width: 31em;
}

.donor_background {
  background-color: white;
  width: 58%;
  height: 45%;
  padding: 20px;
  opacity: 0.6;
  border-radius: 17px;
}

.donor_text_body {
  width: 100%;
  padding: 20px;
}

.small-5 {
  width: 100%;
}

#donor_inner {
  padding-top: 49px;
}

.innerbg {}

section {
  /* The image used */
}

#inner {
  /* The image used */
  background-image: url("../img/pic1.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Donor UI*/
#overlay{
  background-image: url("../img/pic1.png");
  text-align: center;
  position: relative;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*PickUp Detail*/

#pickup_details_overlay{

      position: inherit;
      width: 100%;
      background-image: url(../img/pic2.png);
      text-align: center;
      /* position: relative; */
      /* height: 100%; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#pickup_detail_inner {}

#pickup_detail_body {
  padding-bottom: 44px;

position: inherit;
width: 100%;
 background-image: url(../img/pic2.png);
text-align: center;
/* position: relative; */
/* height: 100%; */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.pickup_detail_header{
background-color: #006a54;
}

.info {
  width: 45%;
  float: right;
}

.info h3{
      font-weight: 300;
}
.map_side{
      padding-top: 58px;
          padding-left: 2%;
              padding-bottom: 47px;
}
#map {

  height: 50%;
  width: 99%;
  margin: 0 auto;
}
/*Volunteer Homepage*/


#volunteer_homepage_overlay{
  height: 100%;
  position: absolute;
  width: 100%;
  background-image: url(../img/pic4.jpg);
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#volunteer_homepage_inner {}

#volunteer_homepage_body {
  padding-bottom: 44px;
}

.volunteer_homepage_header{
    background-color: #006a54;
}

.info {
  width: 45%;
   float: none;
}
#volunteer_homepage_map{
}

.volunteer_homepage_title{

}


/*FoodBank*/

.food_bank_main_header{
  background-color: #006a54;
}
.card{
  border:0px;
}


#foodbank_main_overlay{
  background-image: url("../img/pic5.jpg");
  text-align: center;
  position: relative;
  /* Full height */
  /*height: 100%;*/
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup{
  text-align: center;
    margin: 0 auto;
    width: 100%;
}
.foodbankmain_row{
    width: 80% !important;
}
.signup_btn{
  font-family: 'Open Sans', sans-serif;
}

.row_corrected{
width:26em !important;
}

.login-box h3{
  font-weight: 100;
  color: #006a54;

}

.login-box h3:hover{
  font-weight: 400;
  color: #006a54;

}


table thead, table tbody, table tfoot {
    border: 1px solid #000000;
     background-color:inherit;
}
.header_center{
  color:white;
      font-weight: 100;
}

/*Volunteer Sign up*/


#volunteer_signup_overlay{
  background-image: url("../img/pic6.jpg");
  text-align: center;
  position: relative;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.volunteer_signup_header{
padding-bottom: 5%;
}

.signup_btn{}
  .clear{
    padding-right: 12%;
  }

.signup_btn:hover {
font-weight: 500;
}

.signup_btn:active {
font-weight: 500;
}

#volunteer_signup_form{
      padding-top: 76px;
}

.signup_form{
  width: 42%;
      margin: 0 auto;
      height: 33px;
      border-radius: 8px;
}

.top_clear{

}

/*Event Page*/

#event_page_overlay{


  height: 100%;
  position: absolute;
  width: 100%;
    background-image: url("../img/pic7.jpg");
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event_center{
  background-color: azure;
opacity: .8;
}

/*RESPONSIVE*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {

  }

  #logo {
     float: none;
    padding-left: 0px;
  }

  .menu {
     float: none;
    padding-top: 7px;
    padding-right: 9px;
    padding-bottom: 5px;
  }


  header {
    min-height: 13%;
     background-color: #006a54;
    opacity: .8;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  }

  .menu>li {
    padding-left: 34px;
  }

  img {}

  .menu span {}

  .row {
    padding-top: 1%;
    background-color: rgba(255, 255, 255, 0.31);
    border-radius: 7px;
    width: 31em;
  }

  .donor_background {
    background-color: white;
    width: 58%;
    height: 45%;
    padding: 20px;
    opacity: 0.6;
    border-radius: 17px;
  }

  .donor_text_body {
    width: 100%;
    padding: 20px;
  }

  .small-5 {
    width: 100%;
  }

  #donor_inner {
    padding-top: 49px;
  }

  .innerbg {}

  section {
    /* The image used */
  }

  #inner {
    /* The image used */
    background-image: url("../img/pic1.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*Donor UI*/
  #overlay{
    background-image: url("../img/pic1.png");
    text-align: center;
    position: relative;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  /*PickUp Detail*/

  #pickup_details_overlay{
    height: 100%;
        position: absolute;
        width: 100%;
        background-image: url(../img/pic2.png);
        text-align: center;
        /* position: relative; */
        /* height: 100%; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }

  #pickup_detail_inner {}

  #pickup_detail_body {
    padding-bottom: 44px;
  }

  .pickup_detail_header{
  background-color: #006a54;
  }

  .info {
    width: 45%;
    float: right;
  }
  .map_side{
      padding-top: 5%;
            padding-left: 2%;
  }
  #map {
    float: left;
    height: 39%;
    width: 98%;
    margin: 0 auto;
  }
  /*Volunteer Homepage*/


  #volunteer_homepage_overlay{
    height: 100%;
    position: absolute;
    width: 100%;
    background-image: url(../img/pic4.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #volunteer_homepage_inner {}

  #volunteer_homepage_body {
    padding-bottom: 44px;
  }

  .volunteer_homepage_header{
      background-color: #006a54;
  }

  .info {
  width: 96%;

  float: none;
  background-color: rgba(255, 255, 255, 0.56);
  }
  #volunteer_homepage_map{
  }



}

.volunteer_homepage_title{padding-top: 62px;   }

  .volunteer_homepage_title h1{  font-weight: 100;
    color: #006a54;}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
     float: none;
}
